# Framework
fastapi>=0.104.0,<0.105.0
uvicorn>=0.24.0
pydantic>=2.5.2
## .env
pydantic-settings>=2.1.0
python-dotenv>=1.0.0
## jwt
python-jose>=3.3.0
# Secret
cryptography>=41.0.7
# DB
alembic>=1.13.0
SQLAlchemy>=2.0.23
asyncpg>=0.29.0
psycopg[binary]>=3.1.14
clickhouse-sqlalchemy>=0.3.0
redis>=5.0.1
confluent-kafka>=2.3.0
# Other
requests>=2.31.0
docopt>=0.6.2
loguru>=0.7.2